{% extends "base.html" %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    .card {
        margin: 20px;
        border-radius: 15px;
        background-color: rgba(255, 251, 251, 0.1);
        color: #ffffffc9;
        font-size: 1.2rem;
        font-weight: 7px;
    }

    .card-header {
        background-color: rgba(255, 251, 251, 0.2);
        border-bottom: 1px solid rgba(255, 251, 251, 0.1);
        font-weight: 10px;
    }

    .card-footer {
        background-color: rgba(255, 251, 251, 0.2);
        border-top: 1px solid rgba(255, 251, 251, 0.1);
    }

    .profile-info {
        text-align: left;
        margin-bottom: 15px;
    }

    .profile-info i {
        margin-right: 5px;
    }

    .good-reviews {
        color: #28a745;
        font-weight: bold
    }
    .bad-reviews {
        color: #f42020d1;
        font-weight: bold
    }

    .btn i {
        margin-right: 5px;
    }

    .button-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-bottom: 10px;
    }

    .button-grid .btn {
        width: 100%;
    }

    .button-grid:has(.btn:only-child) {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .button-grid:has(.btn:only-child) .btn {
        max-width: 200px;
    }
    .separator {
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2); /* Прозрачная линия */
        margin: 10px 0; /* Отступы сверху и снизу */
    }
    .token-container {
            position: relative;
        }

    .token-display {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 200px; 
        display: inline-block;
    }

    .copy-button {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card shadow">
                <div class="card-header text-center">
                    <div class="d-flex align-items-center justify-content-center">
                        <label for="avatar-upload" style="cursor: pointer;">
                            {% if current_user.avatar == 1 %}
                                <img src="{{ url_for('static', filename='images/avatars/' + current_user.id|string + '.png') }}" style="width: 60px; height: 60px; border-radius: 50%;">
                            {% else %}
                                <img src="{{ url_for('static', filename='images/avatars/default.png') }}" style="width: 60px; height: 60px; border-radius: 50%;">
                            {% endif %}
                        </label>
                        <span style="margin-left: 10px;color: aqua;font-weight: bold;">{{ current_user.username }}</span>
                    </div>
                </div>
                {% if current_user.id != 0 %}
                <div class="card-body">
                    <div class="profile-info">
                        {% set total = current_user.good_reviews + current_user.bad_reviews %}
                        {% if total == 0 %}
                            {% set percentage = "0" %}
                        {% else %}
                            {% set percentage = (((current_user.good_reviews / total) * 100)  | round(0)) | int %}
                        {% endif %}
                        <p><i class="fa fa-money-bill-wave"></i> <strong>Баланс:</strong> <span id="balance">{{ balance_rub }}₽ (${{ balance_usd }})</span></p>
                        <div class="separator"></div>
                        <p><i class="fa fa-hourglass"></i> <strong>Холд:</strong> <span id="balance">{{ hold_rub }}₽ (${{ hold_usd }})</span></p>
                        <div class="separator"></div>
                        <p><i class="fa fa-chart-line"></i> <strong>Кол-во продаж:</strong> {{ count_sells }}</p>
                        <div class="separator"></div>
                        <p><i class="fa fa-coins"></i> <strong>Сумма продаж:</strong> {{ sum_sells }}</p>
                        <div class="separator"></div>
                        <p><i class="fa fa-star"></i><strong>Оценки:</strong> <i class="fa fa-thumbs-up"></i><span class="good-reviews" style="margin-right: 10px;">{{ current_user.good_reviews }}</span><i class="fa fa-thumbs-down"></i><span class="bad-reviews">{{ current_user.bad_reviews }}</span> ({{ percentage }}%)</p>
                        <div class="separator"></div>
                        <p><i class="fa fa-calendar-alt"></i> <strong>Дата регистрации:</strong> {{ date_register }}</p>
                    </div>
                        <div class="card-footer">
                        <div class="button-grid">
                            <button class="btn btn-success" data-toggle="modal" data-target="#withdrawModal">
                                <i class="fa fa-arrow-up"></i>
                                Пополнить
                            </button>
                            <button class="btn btn-secondary" data-toggle="modal" data-target="#withdrawModal">
                                <i class="fa fa-arrow-down"></i>
                                Вывести
                            </button>
                        </div>

                        <div class="button-grid">
                            <a href="/cabinet/purchase_history" class="btn btn-primary">
                                <i class="fa fa-history"></i>
                                История покупок
                            </a>
                            <a href="/cabinet/my_items" class="btn btn-info">
                                <i class="fa fa-shopping-cart"></i>
                                Мои товары
                            </a>
                        </div>

                        <div class="button-grid">
                            <button data-bs-toggle="modal" data-bs-target="#tokenModal" class="btn btn-dark">
                                <i class="fa fa-key"></i>
                                API ключ
                            </button>
                        </div>
                    </div>
                    </div>
                {% endif %}
                <div class="card-footer text-center">
                    <a class="btn btn-danger" href="/logout">
                        <i class="fa fa-sign-out-alt"></i>
                        Выйти
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для пополнения средств -->
<div class="modal fade" id="addFundsModal" tabindex="-1" role="dialog" aria-labelledby="addFundsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFundsModalLabel"><i class="fa fa-arrow-up"></i> Пополнение средств</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/deposit">
                    <div class="form-group">
                        <label for="amount">Введите сумму:</label>
                        <div class="input-group">
                            <input type="number" class="form-control" min="1" id="amount" name="amount" placeholder="Сумма в ₽" required>
                            <span class="input-group-text">₽</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Подтвердить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Модальное окно для вывода -->
<div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="withdrawModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="withdrawModalLabel"><i class="fa fa-arrow-down"></i> Вывод средств</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/withdraw">
                    <div class="form-group">
                        <label for="amount">Введите сумму:</label>
                        <div class="input-group">
                            <input type="number" class="form-control" min="1" max="{{ current_user.balance }}" id="amount" name="amount" placeholder="Сумма" required>
                            <span class="input-group-text">₽</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="reqs">Введите реквизиты:</label>
                        <div class="input-group">
                            <input class="form-control" id="reqs" name="reqs" placeholder="Номер карты или СБП" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Подтвердить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="tokenModal" tabindex="-1" aria-labelledby="tokenModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tokenModalLabel">Ваш токен для доступа к API</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="token-container">
                        <span class="token-display" id="tokenDisplay">
                            {{ getToken() }}
                        </span>
                        <button class="copy-button" onclick="copyToken(this)">
                            <i class="fa fa-clipboard"></i>
                        </button>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
<script>
    function copyToken(button) {
        const tokenText = document.getElementById("tokenDisplay").textContent;
        navigator.clipboard.writeText(tokenText)
            .then(() => {
                button.innerHTML = '<i class="fa fa-check" style="color: green;"></i>';
                setTimeout(() => {
                    button.innerHTML = '<i class="fa fa-clipboard"></i>';
                }, 3000);
            })
            .catch(err => {
                console.error('Ошибка при копировании: ', err);
                alert("Ошибка при копировании токена. Пожалуйста, скопируйте вручную.");
            });
    }
</script>

{% endblock %}