{% extends "base.html" %}
{% block content %}
<style>
    .product-container {
        margin: 10px auto; /* Убираем отступ сверху */
        max-width: 650px; /* Устанавливаем максимальную ширину для контейнера */
        text-align: center;
        padding: 30px; /* Добавляем отступы внутри контейнера */
        background-color: rgba(73, 80, 87, 0.5); /* Полупрозрачный фон контейнера */
        border-radius: 10px; /* Закругленные углы */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень для контейнера */
        color: white;
    }
    .product-image {
        max-width: 100%;
        max-height: 300px;
        height: auto;
        width: auto;
        object-fit: contain;
    }
    .product-image:hover {
        transform: scale(1.05);
    }
    .section-title {
        font-size: 1.5rem;
        margin: 20px 0 10px;
    }
    .separator {
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2); /* Прозрачная линия */
        margin: 10px 0; /* Отступы сверху и снизу */
    }
    .owner-container {
        transition: transform 0.2s;
    }

    .owner-container:hover {
        transform: scale(1.05);
    }
    .btn-buy {
        background-color: #03c70a96;
        border: none;
        color: white;
        font-size: 1.3rem; /* Размер шрифта кнопки */
        max-width: fit-content;
        margin: auto;
    }
    .btn-buy:hover {
        background-color: #035201;
    }
    .btn-edit {
        background-color: #0066ff;
        border: none;
        color: white;
        font-size: 1.3rem; /* Размер шрифта кнопки */
        max-width: fit-content;
        margin: auto;
    }
    .btn-edit:hover {
        background-color: #002a8d;
    }
    .btn-delete {
        background-color: #d70000;
        border: none;
        color: white;
        font-size: 1.3rem; /* Размер шрифта кнопки */
        max-width: fit-content;
        margin: auto;
    }
    .btn-delete:hover {
        background-color: #8b0000da;
    }
</style>
</head>
<body>

<div class="container product-container text-center">
    <h1 class="card-title" style="margin: 0 auto;">{{ item.name }}</h1>
    <img src="{{ url_for('static', filename='images/items/' + item.id|string + '.png') }}" class="product-image" style="border-radius: 7px;">
    <div class="separator"></div>
    <div class="section-title">
        <i class="fa fa-box" aria-hidden="true"></i>
        <span class="ms-2">Категория</span>
    </div>
    <span class="fs-3">{{ cat }} - {{ subcat }}</span>
    <div class="separator"></div>
    <div class="section-title">
        <i class="fa fa-money-bill-wave" aria-hidden="true"></i>
        <span class="ms-2">Цена</span>
    </div>
    <span class="fs-3">{{ item.amount }} ₽</span>
    <div class="separator"></div>

    <div class="section-title">
        <i class="fa fa-file-alt" aria-hidden="true"></i>
        <span class="ms-2">Описание</span>
    </div>
    <span class="fs-3">{{ item.about }}</span>
    {% if owner.id == current_user.id and buyer %}
        <div class="separator"></div>
        <div class="section-title">
            <i class="fa fa-user-tag" aria-hidden="true"></i>
            <span class="ms-2">Покупатель</span>
        </div>
        <div class="owner-container d-flex align-items-center p-2 border rounded shadow-sm" style="background-color: rgba(0, 123, 255, 0.05); max-width: fit-content;margin: auto;">
            {% if buyer.avatar == 1 %}
                <img src="{{ url_for('static', filename='images/avatars/' + buyer.id|string + '.png') }}" class="rounded-circle me-2" style="width: 40px; height: 40px;">
            {% else %}
                <img src="{{ url_for('static', filename='images/avatars/default.png') }}" class="rounded-circle me-2" style="width: 40px; height: 40px;">
            {% endif %}
            <div>
                <strong>{{ buyer.username }}</strong>
            </div>
        </div> 
    {% elif owner.id != current_user.id %}
        <div class="separator"></div>
        <div class="section-title">
            <i class="fa fa-user-tag" aria-hidden="true"></i>
            <span class="ms-2">Продавец</span>
        </div>
        <div class="owner-container d-flex align-items-center p-2 border rounded shadow-sm" style="background-color: rgba(0, 123, 255, 0.05); max-width: fit-content;margin: auto;">
            {% if owner.avatar == 1 %}
                <img src="{{ url_for('static', filename='images/avatars/' + owner.id|string + '.png') }}" class="rounded-circle me-2" style="width: 40px; height: 40px;">
            {% else %}
                <img src="{{ url_for('static', filename='images/avatars/default.png') }}" class="rounded-circle me-2" style="width: 40px; height: 40px;">
            {% endif %}
            <div>
                <strong>{{ owner.username }}</strong>
            </div>
        </div>
    {% endif %}
    <div class="button-container d-flex flex-column">
        <div class="separator"></div>
        {% if owner.id != current_user.id and not buyer and buyer.id != current_user.id %}
            <a href="/category/{{ item.category_name }}/{{ item.subcategory_id }}/{{ item.id }}?action=buy" class="btn btn-buy mt-3" id="buyTarget">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span class="ms-2">Приобрести</span>
            </a>
        {% else %}
            <div class="section-title">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                <span class="ms-2">Содержание</span>
            </div>
            <span class="fs-3">{{ item.content }}</span>
            <div class="separator"></div>
            {% if item.file %}
                <a href="/file/download/{{ item.file }}" class="btn btn-buy mt-3" id="buyTarget">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <span class="ms-2">Скачать</span>
                </a>
            {% endif %}
            {% if not buyer and owner.id == current_user.id %}
                <a href="/upload?action=edit&id={{ item.id }}" class="btn btn-edit mt-3">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                    <span class="ms-2">Редактировать</span>
                </a>
                <a href="/delete?id={{ item.id }}" class="btn btn-delete mt-3">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="ms-2">Удалить</span>
                </a>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}