{% extends "base.html" %}
{% block content %}
<style>
    .chat-container {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 15px;
        margin-top: 20px;
        color: #ffffff;
        height: 90vh;
    }

    .user-list-container {
        border-right: 1px solid #ccc;
        padding-right: 15px;
        overflow-y: auto;
        max-height: 75vh;
        scrollbar-width: thin;
        scrollbar-color: #088bf04b #045d7343;
    }

    .user-list {
        padding-bottom: 15px;
    }

    .message-bubble {
        background-color: #f0f0f0;
        border-radius: 8px;
        padding: 8px 12px;
        margin-bottom: 8px;
        display: inline-block;
        word-break: break-word;
        max-width: 80%;
        color: black;
    }

    .message-sent {
        background-color: #dcf8c6;
        align-self: flex-end;
    }

    .message-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .message-container.sent {
        align-items: flex-end;
    }

    .avatar {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-right: 8px;
        margin-bottom: 5px;
    }

    .user-item {
        display: flex;
        align-items: center;
        padding: 15px 0;
        border-bottom: 1px solid #eee;
        font-size: 20px;
    }

    .user-item:last-child {
        border-bottom: none;
    }

    .user-item:hover {
        background-color: #c2c2c210;
    }

    .status {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 5px;
    }

    .online-status {
        background-color: green;
    }

    .offline-status {
        background-color: red;
    }
    .message-time {
        font-size: 0.75rem;
        color: #777;
        position: relative;
        top: 10px;
    }
    .online {
        color: #28a745;
        font-size: 17px;
    }
    .offline {
        color: #dc3545;
        font-size: 17px;
    }
    .last-activity {
        font-size: 17px;
    }

    .chat-messages {
        overflow-y: auto;
        height: 450px;
        padding: 10px;
        max-height: 60vh;
        scrollbar-width: thin;
        scrollbar-color: #088bf04b #045d7343;
    }

    .chat-header {
        text-align: center;
        border-bottom: 1px solid #cccccc79;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .message-input-area {
        margin-top: auto;
    }

    .mes-badge {
        background-color: red; /* Красный фон */
        color: white; /* Белый текст */
        border-radius: 50%; /* Круглая форма */
        padding: 3px 8px; /* Отступы */
        font-size: 12px; /* Размер шрифта */
        margin-right: 0px;
        margin-left: auto;
    }
    .active {
        background-color: #7171719f;
    }
</style>
<div class="container chat-container">
    <div class="row h-100">
        <div class="col-md-4">
            <div class="row mb-3">
                <h4 style="font-weight: bold;text-align: center;">Мои чаты</h4>
            </div>

            <div class="user-list-container">
                <div class="user-list">
                    {% for user, unr in data %}
                        <a href="/chat/{{ user.id }}" style="text-decoration: none;color: #ffffff;">
                            <div class="user-item {{ 'active' if user.id == active_user.id else ''}}">
                                {% if user.avatar == 1 %}
                                    <img src="{{ url_for('static', filename='images/avatars/' + user.id|string + '.png') }}" class="avatar">
                                {% else %}
                                    <img src="{{ url_for('static', filename='images/avatars/default.png') }}" class="avatar">
                                {% endif %}
                                {{ user.username }}
                                {% if user.id != 0 %} 
                                    <span class="status {{ 'online' if user.format_activity()[1] == 1 else 'offline' }}-status"></span>
                                {% endif %}
                                {% if unr > 0 %}
                                    <span class="mes-badge">{{ unr }}</span>
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div> 
        </div>

        <div class="col-md-8 d-flex flex-column">
            {% if active_user and active_chat %}
                <div class="chat-header">
                    <h4>{{ active_user.username }}</h4>
                    {% if active_user.id != 0 %}
                        <p>{{ active_user.format_activity()[0] | safe }}</p>
                        {% endif %}
                    </div>
                    <div class="chat-messages mt-3" id="chat-messages">
    
                </div>
                <div class="message-input-area mt-auto">
                    <form>
                        <div class="input-group mt-3">
                            <input type="text" class="form-control" placeholder="Сообщение..." id="message-input">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit" id="send-button" onclick="event.preventDefault();">
                                    <i class="fa fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
    
            {% else %}
                <span>Выберите чат</span>
            {% endif %}
        </div>
    </div>
    </div>
    
    {% if active_user and active_chat %}
        <script>
        document.addEventListener('DOMContentLoaded', function() {
            const sendButton = document.getElementById('send-button');
            const messageInput = document.getElementById('message-input');
            const chatMessages = document.getElementById('chat-messages');
            const activeUserId = "{{ active_user.id }}";
    
        function fetchMessages() {
            const apiUrl = `/api/messages/${activeUserId}`;
    
            fetch(apiUrl)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
            })
            .then(data => {
                if (data.success) {
                    chatMessages.innerHTML = '';
                    data.messages.forEach(message => {
                        appendMessage(message);
                    });
                    chatMessages.scrollTop = chatMessages.scrollHeight;
                } else {
                    console.error('Error fetching messages:', data);
                }
            })
            .catch(error => {
                console.error('Error fetching messages:', error);
            });
    }

    fetchMessages();

    function appendMessage(message) {
        const messageContainer = document.createElement('div');
        messageContainer.classList.add('message-container');

        if ("{{ current_user.id }}" == message.from) {
            messageContainer.classList.add('sent');
        }

        const messageBubble = document.createElement('div');
        messageBubble.classList.add('message-bubble');

        if ("{{ current_user.id }}" == message.from) {
            messageBubble.classList.add('message-sent');
        }
        messageBubble.textContent = message.content;

        const messageTime = document.createElement('span');
        messageTime.classList.add('message-time');
        messageTime.textContent = message.time;

        messageBubble.appendChild(messageTime);
        messageContainer.appendChild(messageBubble);
        chatMessages.appendChild(messageContainer);

        chatMessages.scrollTop = chatMessages.scrollHeight;
    }


    sendButton.addEventListener('click', function() {
        const messageContent = messageInput.value.trim();

        if (messageContent !== '') {

            const apiUrl = `/api/messages/${activeUserId}/send`;

            fetch(apiUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    content: messageContent
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                console.log('Message sent successfully:', data);
                messageInput.value = '';
                fetchMessages();
            })
            .catch(error => {
                console.error('Error sending message:', error);
                alert('Failed to send message. Please try again.');
            });
        }
    });

        setInterval(fetchMessages, 5000);

    });
    </script>
{% endif %}
{% endblock %}