{% extends "base.html" %}
{% block content %}
<style>
    .category-title {
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 24px;
        font-weight: bold;
    }
    .card {
        border: none; /* Убираем границу у карточек */
        background-color: #6b85c7;
        transition: transform 0.2s; /* Плавный эффект при наведении */
        text-decoration: none; /* Убираем подчеркивание у текста */
        color: rgb(255, 255, 255);
    }
    .card:hover {
        transform: scale(1.05); /* Увеличение карточки при наведении */
    }
    .category:hover {
        background-color: #2d51ad;
    }
    body {
            margin: 0;
            height: 100vh; /* Задаем высоту на весь экран */
            background: linear-gradient(45deg, #00ccff, #096df1, #049af1, #02ecfd);
            background-size: 400% 400%; /* Увеличиваем размер фона для анимации */
            animation: gradientAnimation 15s ease infinite; /* Применяем анимацию */
        }

        @keyframes gradientAnimation {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }

        h1 {
            color: white; /* Цвет текста */
            text-align: center; /* Выравнивание текста по центру */
            margin-top: 20%; /* Отступ сверху */
            font-size: 3em; /* Размер шрифта */
        }
</style>
<div class="row justify-content-center mt-4">
<div class="dropdown" style="text-align: center;">
    <button class="btn btn-custom categories dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: rgba(13, 20, 219, 0.371);">
      {{ category_name }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="/category/games">Игры</a></li>
      <li><a class="dropdown-item" href="/category/services">Сервисы</a></li>
      <li><a class="dropdown-item" href="/category/software">Софт</a></li>
      <li><a class="dropdown-item" href="/category/subsсribes">Подписки</a></li>
    </ul>
  </div>
</div>
<div class="container mt-5">
    <!-- Категории -->
    <div class="row justify-content-center">
        {% if sub_categories %}
            {% for id, category in sub_categories %}
                <div class="col-md-2 mb-2">
                    <a href="/category/{{ owner }}/{{ id }}" class="card text-center category">
                        <div class="card-body">
                            <h5 class="card-title">{{ category }}</h5>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
                <div class="text-center" style="color: rgb(255, 255, 255);font-size: 20px;">
                    <span>Здесь пока пусто</span>
                </div>
        {% endif %}
    </div>

</div>

{% endblock %}