{% extends "base.html" %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    body {
        background-color: #343a40; /* Темный фон */
        color: white; /* Белый текст */
    }
    .profile-card {
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        padding: 30px; /* Увеличено расстояние внутри карточки */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 500px; /* Увеличена ширина карточки */
        margin: auto;
        text-align: center;
        background-color: #495057; /* Фон карточки */
    }
    .avatar {
        width: 120px; /* Увеличен размер аватара */
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px; /* Увеличено расстояние под аватаром */
    }
    .info-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px; /* Увеличено расстояние между элементами */
    }
    .info-item i {
        margin-right: 10px; /* Отступ между иконкой и текстом */
    }
    hr {
        border-top: 1px solid #e0e0e0; /* Цвет разделителя */
        margin: 20px 0; /* Увеличены отступы сверху и снизу */
    }
    .ratings {
        margin-top: 20px; /* Отступ сверху для раздела оценок */
    }
    .good-reviews {
        color: #28a745;
        font-weight: bold
    }
    .bad-reviews {
        color: #f42020d1;
        font-weight: bold
    }
    .online {
        color: #28a745; /* Зеленый цвет для Online */
        font-size: 17px;
    }
    .offline {
        color: #dc3545;
        font-size: 17px;
    }

    .last-activity {
        font-size: 17px;
    }
</style>
</head>
<body>

<div class="container mt-5">
<div class="profile-card">
    {% if user.avatar == 1 %}
        <img src="{{ url_for('static', filename='images/avatars/' + user.id|string + '.png') }}" class="avatar">
    {% else %}
        <img src="{{ url_for('static', filename='images/avatars/default.png') }}" class="avatar">
    {% endif %}
    <h3 class="mb-4" style="color: aqua;">{{ user.username }}</h3>
    {{ user.format_activity()[0] | safe }}
    <hr>
    
    <div class="info-item">
        <i class="fas fa-shopping-cart"></i>
        <span><strong>Количество продаж:</strong> {{ count_sells }}</span>
    </div>
    <hr>
    
    <div class="info-item">
        <i class="fas fa-coins"></i>
        <span><strong>Сумма продаж:</strong> {{ sum_sells }}</span>
    </div>
    <hr>
    
    <div class="info-item">
        <i class="fas fa-calendar-alt"></i>
        <span><strong>Дата регистрации:</strong> {{ date_register }}</span>
    </div>
    <hr>

    {% set total = user.good_reviews + user.bad_reviews %}
    {% if total == 0 %}
        {% set percentage = "0" %}
    {% else %}
        {% set percentage = (((user.good_reviews / total) * 100)  | round(0)) | int %}
    {% endif %}
    <div class="info-item">
        <i class="fa fa-star"></i>Оценки:<i class="fa fa-thumbs-up" style="margin-left: 7px;"></i><span class="good-reviews" style="margin-right: 8px;">{{ user.good_reviews }}</span><i class="fa fa-thumbs-down"></i><span class="bad-reviews">{{ user.bad_reviews }}</span><span style="margin-left: 5px;">({{ percentage }}%)</span>
    </div>
    
    <hr>

    <button class="btn btn-primary" data-toggle="modal" data-target="#sendMesModal">
        Написать
    </button>
</div>
</div>
<div class="modal fade" id="sendMesModal" tabindex="-1" role="dialog" aria-labelledby="sendMesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-black">
            <div class="modal-header">
                <h5 class="modal-title" id="sendMesModalLabel"><i class="fa fa-arrow-up"></i> Отправка сообщения</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/send_message/{{ user.id }}">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" id="content" name="content" placeholder="Сообщение..." required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
