{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>История покупок</h1>
    {% if purchases %}
        <table class="table text-white">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Товар</th>
                    <th>Описание</th>
                    <th>Цена</th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in purchases %}
                <tr>
                    <td>{{ purchase.format_date() }}</td>
                    <td>
                        <a href="{{ purchase.item_url }}">
                            {{ purchase.item_name }}
                        </a>
                    </td>
                    <td>{{ purchase.item_description }}</td>
                    <td>{{ purchase.price | int }}₽</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p style="color: #ffffff;text-align: center;">У вас пока нет покупок.</p>
    {% endif %}
</div>
{% endblock %}